.wrapper
  .chat-main
    .main-header
      .main-header__left
        %p.main-header__left__group-info
          = @group.name
        %ul.main-header__left__member-lists
          Menber :
          = @group.name
          %li.main-header__left__member-list
            ゆん
      = link_to "Edit", edit_group_path(@group.id), class: 'main-header__edit-btn'
    .message
      .messages
        = render @messages
    .main-form
      = form_for [@group, @message] do |f|
        .chat-main__message-form
          .input-box
            = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
            = f.label :image, class: 'input-box__image' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'input'
          = f.submit 'Send', class: 'submit-btn'
