.side-bar
  .side-header
    .side-header__box
      %p.top-items__name
        ゆん
      %ul.side-header__box__lists
        %li.side-header__box__edit
          = link_to "#" do
            = icon('fas', 'edit')
        %li.side-header__box__cog
          = link_to "#" do
            =icon('fas', 'cog') 
  .groups
    = link_to "#", class:"group" do
      .group
        %p.group__name
          yunyun
        %p.group__message
          まだメッセージがありません
    = link_to "#", class:"group" do
      .group
        %p.group__name
          yunyun
        %p.group__message
          まだメッセージがありません
    = link_to "#", class:"group" do
      .group
        %p.group__name
          yunyun
        %p.group__message
          まだメッセージがありません
    = link_to "#", class:"group" do
      .group
        %p.group__name
          yunyun
        %p.group__message
          まだメッセージがありません
    = link_to "#", class:"group" do
      .group
        %p.group__name
          yunyun
        %p.group__message
          まだメッセージがありません
    = link_to "#", class:"group" do
      .group
        %p.group__name
          yunyun
        %p.group__message
          まだメッセージがありません
    = link_to "#", class:"group" do
      .group
        %p.group__name
          yunyun
        %p.group__message
          まだメッセージがありません
    = link_to "#", class:"group" do
      .group
        %p.group__name
          yunyun
        %p.group__message
          まだメッセージがありません